<!-- Form handling -->
<form action="/api/restaurants" method="POST" id="add-restaurant">
    <div class="new-restaurant">
        <div class="form-group">
            <label for="restaurant_id" class="text-light">ID</label>
            <input type="text" name="restaurant_id" id="restaurant_id" placeholder="16413847">
        </div>

        <div class="form-group">
            <label for="name" class="text-light">Tên</label>
            <input type="text" name="name" id="name" placeholder="Riviera Caterer">
        </div>

        <div class="form-group">
            <label for="borough" class="text-light">Quận</label>
            <input type="text" name="borough" id="borough" placeholder="Queens">
        </div>

        <div class="form-group">
            <label for="cuisine" class="text-light">Ẩm thực</label>
            <input type="text" name="cuisine" id="cuisine" placeholder="American">
        </div>

        <div class="form-group">
            <label for="street" class="text-light">Đường</label>
            <input type="text" name="street" id="street" placeholder="Morris Park Ave">
        </div>
        <div class="form-group">
            <label for="building" class="text-light">Tòa nhà</label>
            <input type="text" name="building" id="building" placeholder="1007">
        </div>
        <div class="form-group">
            <label for="zipcode" class="text-light">Mã bưu chính</label>
            <input type="text" name="zipcode" id="zipcode" placeholder="10462">
        </div>
        <div class="form-group">
            <label for="coord-1" class="text-light">Tọa độ</label>
            <input type="text" name="coord" id="coord-1" placeholder="-73.961704">
            <input type="text" name="coord" id="coord-2" placeholder="40.7311739">
        </div>

        <div class="form-group">
            <label for="date" class="text-light">Ngày</label>
            <input type="datetime-local" name="date" id="date" placeholder="2014-12-30T00:00:00.000+00:00">
        </div>
        <div class="form-group">
            <label for="grade" class="text-light">Khối</label>
            <input type="text" name="grade" id="grade" placeholder="A">
        </div>
        <div class="form-group">
            <label for="score" class="text-light">Điểm</label>
            <input type="text" name="score" id="score" placeholder="8">
        </div>

        
        <!-- <div class="form-group">
            <label for="gender" class="text-light center">Gender</label>
            <div class="radio inline">
                <input type="radio" name="gender" id="gender-1" value="male">
                <label for="gender-1" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="gender" id="gender-2" value="female">
                <label for="gender-2" class="radio-label">Female</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="gender" id="gender-3" value="orther">
                <label for="gender-3" class="radio-label">Orther</label>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-light center">Status</label>
            <div class="radio inline">
                <input type="radio" name="status" id="action-1" value="active">
                <label for="action-1" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="status" id="action-2" value="inactive">
                <label for="action-2" class="radio-label">InActive</label>
            </div>
        </div> -->

        <button type="submit" class="btn text-dark update">Thêm</button>
    </div>
</form>